<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="home_container">
        <div>
            <h1>Home</h1>
        </div>
        <div>
            <p>Olá Seja Bem-vindo(a)</p>
            <h2>Sinta-se avontade, estamos trabalhando com Express</h2>
        </div>
        <div class="links">
            <a href="/rotas/about">Clique aqui para saber mais sobre nós.</a>

        </div>

        <div class="links">
            <a href="/rotas/404">Essa rota vai te levar até a tela 404.</a>

        </div>
    </div>
</body>
</html>