<div class="container__home">
    <p>{{client.date}}</p>
    <h2>Olá seja bem-vindo a nossa loja virtual {{client.name}} {{client.surname}}</h2>
    
    <h3>Para conhecer nossos produtos, <a href="/products">clique aqui</a> para saber mais!</h3>
</div>