<div class="product_mouse">
  <h1>Melhor mouse de todos.</h1>
  <p>Mouse de alta qualidade, com sensor óptico e 6 botões programáveis.</p>
  <img src="/assets/mouse.png" alt="Mouse" />

  <div><a href="/products">Voltar para produtos</a></div>
</div>