<div class="products_teclado">
    <h1>Melhor teclado de todos.</h1>
    <p>O melhor teclado do mercado para jogos e para você que é programador.</p>
    <img src="/assets/teclado.png" alt="Teclado">

    <div><a href="/products">Voltar para produtos</a></div>
</div>